{% extends 'App1/base.html' %} {% load static %} {% block title %} About Me
{%endblock title %} {% block main %}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container px-5">
      <h1 class="masthead-heading mb-0">Conocenos</h1>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
<br />
<br />
<div class="container px-5">
  <div class="row gx-5 align-items-center">
    <div class="col-lg-6 order-lg-2">
      <div class="p-5">
        <p>
          Somos un pequeño negocio que se dedica a la vende de articulos de
          kiosco.
        </p>
        <p>
          En esta pagina podras encontrar los productos que tenemos en stock
          acutalmente, algunos de nuestro clientes y las sucursales abiertas
          acutalmente.
        </p>
        <p>
          La pagina fue desarrollada por Lucas Marconi, actual estudiante en el
          curso de Python y Framework de Django en Coder House.
        </p>

        <p>Gracias por visitar nuestra tienda! Esperamos que vuelva pronto.</p>
      </div>
    </div>
  </div>
</div>
{% endblock main %}
