{% extends 'App1/base.html' %} {% load static %} {% block title %} Formulario -
Agregar Cliente {%endblock title %} {% block main %}

<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container px-5">
      <h1 class="masthead-heading mb-0">Agregar</h1>
      <h2 class="masthead-subheading mb-0">Un Cliente</h2>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
<br />
<br />
<div display="flex">
  <div margin="auto">
    <div
      class="container text-center"
      display="flex"
      style="width: 300px; height: 100px"
    >
      <form method="POST">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            {% csrf_token %}
            <div><p>Nombre: {{ form.nombre }}</p></div>
            <div><p>Email: {{ form.email }}</p></div>
            <div><p>Edad: {{ form.edad }}</p></div>
          </div>
          <input type="submit" value="Agregar" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock main %}
