{% extends 'App1/base.html' %} {% load static %} {% block title %} Lista
{%endblock title %} {% block main %}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container px-5">
      <h1 class="masthead-heading mb-0">Lista</h1>
      <h2 class="masthead-subheading mb-0">De Productos</h2>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>

<br />
<br />
<div class="container">
  <div class="row">
    {% for prod in object_list %}
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">{{ prod.nombre }}</h5>
        <p class="card-text">Precio: ${{ prod.precio }}</p>
        {% if request.user.is_superuser == 1 %}
        <a href="{% url 'BorrarProd' prod.id %}" class="btn btn-primary"
          >Eliminar</a
        >
        {% endif %}
      </div>
    </div>
    <br />
    {% endfor %}
  </div>
</div>
<div class="flex">
  &emsp; &emsp;
  <a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'Buscar' %}"
    >Buscar</a
  >
  &emsp; &emsp;
  <a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'NewProd' %}"
    >Agregar nuevo</a
  >
</div>

{% endblock main %}
