{% extends 'App1/base.html' %} {% load static %} {% block title %} Lista
{%endblock title %} {% block main %}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container px-5">
      <h1 class="masthead-heading mb-0">Lista</h1>
      <h2 class="masthead-subheading mb-0">De Sucursales</h2>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
<br />
<br />
<div class="container">
  <div class="row">
    {% for suc in object_list %}
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">{{ suc.calle }}, {{ suc.altura }}</h5>
        {% if request.user.is_superuser == 1 %}
        <a href="{% url 'EditSuc' suc.id %}" class="btn btn-primary">Editar</a>
        {% endif %}
      </div>
    </div>
    <br />
    {% endfor %}
  </div>
</div>
{% if request.user.is_superuser == 1 %}
<div class="flex">
  &emsp; &emsp;
  <a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'NewSuc' %}"
    >Agregar nueva</a
  >
</div>
{% endif %} {% endblock main %}
